<!-- Next Steps -->
<div class="card">
  <div class="card-header">How insurance works</div>
  <div class="card-body">
    <p>
      Professional Indemnity is designed to protect businesses that give
      professional advice or provide services to clients. If a client claims a
      mistake your business made caused them injury or financial loss,
      Professional Indemnity covers the cost of your legal defence and damages
      you have to pay.
    </p>
    <ul>
      <li>Click on "Quote Tool" to get the quote.</li>
      <li>Click on "Occupation List" to get the list of Occupation.</li>
    </ul>
  </div>
</div>
